*{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Pacifico', cursive;
    padding: 0%;
    display: block;
}

.header-home{
    
    background-color: #faa54b;
}



/*----------------------------------------
-------    PARTE DE NAVEGACIÓN    --------
------------------------------------------*/

.nav-page{
    padding: 1rem;
}

.list-links{
    display: flex;
    justify-content: center;
    align-content: center;
}

.links-nav{
    color: #000000;
    font-weight: 800;
    font-size: 1.5rem;
    background-color: #c199f3;
    padding: 0.3rem 4rem;
    margin: 0.8rem;
    border: 1px solid white ;
    border-radius: 10px;
}

/*----------------------------------------
--------   PARTE DE LA SECCIÓN   ---------
------------------------------------------*/
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
}



.img-back{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.video{
    width: 100%;
}


.module-info{
    display: flex;
    padding: 5rem;
    flex-direction: row;
}

.img-info{
    width:400px;
    height:400px;
    border-radius:250px;

}

.text-info{
    text-align: center;
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 30px;
}


.box-form{

    background-color: #35eccd;
    width: 500px;
    margin: 5rem;
    border: 2px solid grey;
    border-radius: 25px;
    
}

.title-form{
    font-size: 20px;
    text-align: center;
}

.form-content{
    padding: 1rem;
    margin: 1rem;
}

.pseudo-class-form{

    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 10px grey;
}
.button{


    font-family: 'Pacifico', cursive;
    color: white;
    background-color: #c199f3;
    width: 100px;
}


/*----------------------------------------
--------    PARTE DEL PIE PÁG    ---------
------------------------------------------*/
.foot{
    
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #faa54b;
    background-size: cover;
}
.final{
    color:black;
    background-color: #c199f3;
    padding: 0.5rem;
    border: 1px solid white ;
    border-radius: 1rem;
}